    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div>
                    <h2 class="my-3">Further information</h2>  
                    <p element-margin-wide>Further details are provided below, pressing on the buttons below will reveal or hide extra information.</p>
                    <listheading>Uses:</listheading>
                    <div class="buttons-container">
                        <a tabindex="14" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="Surveying trees" data-bs-content="The cameras can categorically prove the presence or absence of a roost in a given feature or tree - the cameras are designed to survey for an extended period of time">Surveying trees</a>

                        <a tabindex="15" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="Surveying hibernation sites" data-bs-content="The cameras can be used to survey the entrances of underground sites and features within hibernation sites to identify if bats are using a site, the species, the number of bats and the exact dates they leave and enter">Surveying hibernation sites</a>

                        <a tabindex="16" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="Surveying roof voids" data-bs-content="The cameras can be used to survey the entrances of roof voids or features within roof voids to confirm if bats are using a roof, the species, the number of bats and the exact dates they leave and enter">Surveying roof voids</a>

                        <a tabindex="17" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="Counting roosts" data-bs-content="The number of bats in a roost can be counted without humans altering their natural behaviour">Counting roosts</a>

                        <a tabindex="18" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="Monitoring - exclusion & disturbance" data-bs-content="The cameras can be used to monitor trees and buildings during licenced mitigation and exclusion. Roosts can also be monitored when there is nearby disturbance from construction activities">Monitoring - exclusion & disturbance</a>

                        <a tabindex="19" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="Recording unseen behaviour" data-bs-content="The cameras have captured a noctule lekking roost in autumn and bats regularly exploring tree features in winter. There is certainly more to discover">Recording unseen behaviour</a>

                        <a tabindex="20" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="Recording long term seasonal use" data-bs-content="The cameras record bat activity over long time periods and can be used to determine the exact dates and seasons a roost feature is used">Recording long term seasonal use</a>

                        <a tabindex="21" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="Other animals" data-bs-content="The cameras can be used to record other wildlife such as small mammals, swifts, dormice and amphibians">Other animals</a>
                        
                        <a tabindex="22" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="Remote security" data-bs-content="The cameras can serve as a remote security solution in isolated or hard-to-reach areas. External infra-red lighting can be used to supplement the internal light and monitor movement in large areas">Remote security</a>
                      </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
          const popovers = document.querySelectorAll('[data-bs-toggle="popover"]');
      
          popovers.forEach(function (popover) {
            let popoverInstance = new bootstrap.Popover(popover);
      
            function showPopover() {
              // Hide all other popovers
              popovers.forEach(function (otherPopover) {
                if (otherPopover !== popover) {
                  const otherPopoverInstance = bootstrap.Popover.getInstance(otherPopover);
                  if (otherPopoverInstance) {
                    otherPopoverInstance.hide();
                  }
                }
              });
      
              // Show the popover
              popoverInstance.show();
            }
      
            popover.addEventListener('click', showPopover);
            popover.addEventListener('focus', showPopover);
          });
        });
      </script>
      