<!-- Production Section -->
<section id="analysis" class="content-section text-center">
    <div class="analysis-section">
        <div class="container">
            <div class="col-lg-8 offset-lg-2">
                <h1>Footage Motion Analysis Service</h1>
                <div class="analysis-section">
                    <div class="container">
                        <!-- <div class="col-lg-8 offset-lg-2"> -->
                            <!-- <h2 class="my-3">Analysis Service</h2> -->
                             <p class="m-3">Fast, accurate bat movement detection for your own IR and thermal footage</p>
                                <a href="/video-motion-analysis-service/" class="btn btn-default2 btn-lg">Analysis Service</a>
                                <!-- <a href="/user-manual/">Manual</a> -->
                        <!-- </div> -->
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>

