    <!-- Manual -->
    <section id="manual" class="content-section text-center markdown-body">
        
        <div class="manual-section">
            <div class="container">
                <div class="col-lg-8 offset-lg-2">
                    <h2>User Manual</h2>
                        <a href="/user-manual/" class="btn btn-default2 btn-lg element-margin-wide">User Manual</a>
                        <!-- <a href="/user-manual/">Manual</a> -->
                </div>
            </div>
        </div>  
    </section>
