<!-- Production Section -->
<section id="manual" class="content-section text-center">
    <div class="manual-section">
        <div class="container">
            <div class="col-lg-8 offset-lg-2">
                <h1>Guides</h1>
                <div class="manual-section">
                    <div class="container">
                        <!-- <div class="col-lg-8 offset-lg-2"> -->
                            <h2 class="my-3">User Manual</h2>
                                <a href="/user-manual/" class="btn btn-default2 btn-lg">User Manual</a>
                                <!-- <a href="/user-manual/">Manual</a> -->
                        <!-- </div> -->
                    </div>
                </div> 
                <div class="kit-section">
                    <div class="container">
                        <!-- <div class="col-lg-8 offset-lg-2"> -->
                            <h2 class="my-3">Compatible Kit</h2>
                            <p class="m-3">Kit for mounting and powering the cameras</p>
                                <a href="/kit/" class="btn btn-default2 btn-lg">Compatible Kit</a>
                                <!-- <a href="/user-manual/">Manual</a> -->
                        <!-- </div> -->
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>



