    <!-- Production Section -->
    <section id="price" class="content-section text-center">
        <div class="price-section">
            <div class="container">
                <div class="col-lg-8 offset-lg-2">
                    <h2>Price</h2>
                    <listheading>Cost per unit</listheading>
                    <div class="buttons-container m-3"
                        <script
                            async
                            src="https://js.stripe.com/v3/buy-button.js">
                        </script>
                        <stripe-buy-button
                            buy-button-id="buy_btn_1R4UhpB611DYs6VBmjPXiSRs"
                            publishable-key="pk_live_51R4TbaB611DYs6VBYbn1xJvT5aJvavJA5Lh6K6ll7y1djAgEMzhZmZPcn9wsuEzc4xTEsI3nGnK0Hmaql19OXt0Y00BfaTO4as"
                        >
                        </stripe-buy-button>
                    </div>
                        <!-- <div class="buttons-container m-3">
                            <a tabindex="22" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="£800" data-bs-content="This is the total price. VAT is not applicable as I am currently below the registration threshold. To order - contact me using the form in the contact section of this webpage">£800</a>
                        </div>     -->
                    <!-- <listheading>How to buy</listheading> -->
                    <p class="m-3">Reflex Cameras are produced in monthly batches. As a result, there may be a delay between your purchase and the dispatch of your order. We appreciate your patience and understanding. If you would like more information regarding build dates or shipping times, please fill out the contact form on this webpage.</p>
                    <p class="m-3">Reflex cameras come with a two-year warranty covering manufacturing defects.</p>
                    <!-- To place an order, please fill out the contact form on this webpage. I accept bank transfers and will ship the cameras via courier once your order is confirmed. A 4m outdoor cable, car battery connectors, and a protective bag are included with each camera. The cameras come with a two-year warranty covering manufacturing defects. -->
                </div>
            </div>
        </div>
    </section>
