<!-- Production Section -->
<section id="purchase" class="content-section text-center">
    <div class="purchase-section">
        <div class="container">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="my-3">Purchase</h1>
                <h3 class="my-3">REFLEX Camera Infra-red</h3>
                <img src="img/Camera2025.png" alt="REFLEX Camera 2025" style="width: 75%;" class="img-fluid mb-3">
                <div class="buttons-container m-3">
                    <script
                        async
                        src="https://js.stripe.com/v3/buy-button.js">
                    </script>
                    <stripe-buy-button
                        buy-button-id="buy_btn_1R4UhpB611DYs6VBmjPXiSRs"
                        publishable-key="pk_live_51R4TbaB611DYs6VBYbn1xJvT5aJvavJA5Lh6K6ll7y1djAgEMzhZmZPcn9wsuEzc4xTEsI3nGnK0Hmaql19OXt0Y00BfaTO4as"
                    >
                    </stripe-buy-button>
                </div>
                <p class="m-3">Use the link above to purchase camera units. Optional items can be deselected on the payment page.</p>
                <p class="m-3">£800 - Reflex Camera & Standard Accessory Kit, which includes a Reflex Camera, Reflex Standard Extension Cable, Reflex Leisure Battery Terminal Connector, and a protective bag.</p>
                <p class="m-3">£30 - A Reflex 12v Male Barrel Jack Connector to connect a Reflex Camera directly to a Talentcell battery. Talentcell batteries are small and very portable and can be used in place of a leisure battery on short duration deployments. This connector is optional.</p>
                <p class="m-3">£15.95 - Shipping in the UK. Alternative shipping rates for other countries are also available through the payment link.</p>
                <p class="m-3">A battery and a tree mount are not included, but reliable field-tested kit is listed in <a href="/kit/">Compatible Kit</a></p>
                <p class="m-3">Reflex cameras come with a two-year warranty covering manufacturing defects.</p>


                    <!-- <div class="buttons-container m-3">
                        <a tabindex="22" class="btn btn-info opacity-75" data-bs-custom-class="custom-popover" data-bs-toggle="popover" data-trigger="manual" data-bs-title="£800" data-bs-content="This is the total price. VAT is not applicable as I am currently below the registration threshold. To order - contact me using the form in the contact section of this webpage">£800</a>
                    </div>     -->
                <!-- <listheading>How to buy</listheading> -->
                <!-- <p class="m-3">Reflex Cameras are currently produced in bi-monthly batches. As a result, there may be a delay between your purchase and the dispatch of your order. We appreciate your patience and understanding. If you would like more information regarding build dates or shipping times, please fill out the contact form on this webpage.</p> -->
                <p class="m-3">For bulk orders of more than three cameras, please fill out the contact form instead of using the purchase link.</p>
                <!-- To place an order, please fill out the contact form on this webpage. I accept bank transfers and will ship the cameras via courier once your order is confirmed. A 4m outdoor cable, car battery connectors, and a protective bag are included with each camera. The cameras come with a two-year warranty covering manufacturing defects. -->
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script> -->

    